/* font-family: 'Eagle Lake', serif;
font-family: 'Fondamento', cursive;
font-family: 'Gilda Display', serif;
font-family: 'Laila', serif;
font-family: 'Macondo', cursive;
font-family: 'Montez', cursive;
font-family: 'Pirata One', system-ui;
font-family: 'WindSong', cursive; */

body {
  background-color: #692b37;
  background-image: url(/images/city.jpg);
  background-repeat: none;
  background-size: cover;
  font-family: "Laila", serif;
}
h1 {
  font-family: "Eagle Lake", serif;
  font-size: 100px;
  text-align: center;
  margin: 30px 0;
  color: #541423;
  font-weight: bolder;
}

/* img {
  width: 100%;
  border-radius: 7px;
} */
footer {
  text-align: center;
  margin-top: 50px;
}
footer a {
  text-decoration: none;
  color: #541423;
  font-size: 13px;
}
a :hover {
  cursor: pointer;
}

.container-fluid {
  background-color: #541423;
  padding: 10px;
}
.navbar {
  background-color: #541423;
  padding: 0;
  opacity: 0.6;
}
.navbar-brand {
  color: #e8db8d;
}
.nav-link {
  color: #e8db8d;
}
.nav-link active {
  color: #e8db8d;
}
.container-homepage {
  background-color: #e8db8d;
  opacity: 0.6;
  max-width: 800px;
  margin: 140px auto;
  padding: 40px 20px;
  border-radius: 6px;
}
.sub-container {
  background-color: #e8db8d;
  opacity: 0.6;
  max-width: 1500px;
  margin: 140px auto;
  padding: 40px 20px;
  border-radius: 6px;
}
.sub-heading1 {
  color: #213c8e;
  font-size: 30px;
  font-weight: bold;
}
.sub-heading2 {
  color: #225230;
  font-size: 30px;
  font-weight: bold;
}
.sub-heading3 {
  color: #af3152;
  font-size: 30px;
  font-weight: bold;
}
.sub-heading4 {
  color: #4e7895;
  font-size: 30px;
  font-weight: bold;
}
.sub-heading5 {
  color: #10163e;
  font-size: 30px;
  font-weight: bold;
}
.intro {
  text-align: center;
  font-size: 28px;
  padding: 40px 10px;
  color: #541423;
}
.synopsis {
  font-size: 16px;
  padding: 15px 50px;
  color: #541423;
  margin-top: 40px;
}
.book-cover {
  width: 80%;
  display: block;
  border-radius: 7px;
  margin: 40px 0 30px 60px;
}
.secondary-image {
  width: 90%;
  display: block;
  border-radius: 7px;
  margin-bottom: 40px;
}

.external-links {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  background-color: #541423;
  padding: 20px;
  border-radius: 6px;
  margin: 0 auto;
  max-width: 500px;
}
.external-links a {
  text-decoration: none;
  color: #e8db8d;
  font-weight: bolder;
}
.author-links {
  text-align: center;
  background-color: #541423;
  padding: 10px 0;
  border-radius: 6px;
  margin: 0 auto;
  max-width: 600px;
  margin-bottom: 40px;
}
.author-links a {
  text-decoration: none;
  color: #e8db8d;
  font-weight: bolder;
}
.icon {
  width: 30px;
  color: #e8db8d;
  font-weight: bold;
}

@media (max-width: 500px) {
  h1 {
    font-size: 45px;
  }
  p {
    font-size: 14px;
  }
  .container-homepage {
    max-width: 300px;
  }
  .pages {
    font-size: 10px;
  }
}
